*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
      height:100%;
      width:100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap:wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content:space-between;
 margin-bottom:40px;

}
.top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 5px;
}
.centre h3{

  font-size: 18px;
  font-weight: 500;
}
.centre h3 span{
  font-size: 10px;
  font-weight: 400;
  color:#8b8b8b ;
}
.centre h2{
  font-size: 20px;
}
.centre .tag{
  display: flex;
  gap: 10px;
}
.centre .tag h4{
  font-size: 14px;
  background-color: #111;
  padding: 3px 6px;
  color: white;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding: 10px 0;
  
}

.bottom button{
  background-color: black;
  color: white;
  padding: 1px;
  border-radius: 3px;
}